{{if $.paginator.HasPages}}
<ul class="pagination pagination">
  {{if $.paginator.HasPrev}}
  <li><a href="{{.paginator.PageLinkFirst}}">First Page</a></li>
  <li><a href="{{.paginator.PageLinkPrev}}">&laquo;</a></li>
  {{else}}
  <li class="disabled"><a>First Page</a></li>
  <li class="disabled"><a>&laquo;</a></li>
  {{end}}
  {{range $index, $page := $.paginator.Pages}}
  <li{{if $.paginator.IsActive .}} class="active"{{end}}>
    <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
  </li>
  {{end}}
  {{if $.paginator.HasNext}}
  <li><a href="{{.paginator.PageLinkNext}}">&raquo;</a></li>
  <li><a href="{{.paginator.PageLinkLast}}">Last Page</a></li>
  {{else}}
  <li class="disabled"><a>&raquo;</a></li>
  <li class="disabled"><a>Last Page</a></li>
  {{end}}
</ul>
{{end}}
